body {
  background-color: #F5F9FA;
}

.title {
  text-align: center;
  margin-bottom: 5%;
}

#container-diagram {
  height: 230px;
  border-color: #4063A8;
  border-style: solid;
  background-color: #8A9EC4;
  border-radius: 10px;
}

.container-metrics {
  background-color: #C0F3CE;
  min-width: 150px;
  max-width: auto;
  min-height: 150px;
  max-height: auto;
  border-style: solid;
  border-color: green;
  border-radius: 10px;
  padding: 5px;
}

.container-metrics ul {
  list-style-type: none;
  padding: 0;
}

.key-metric {
  font-weight: bold;
  font-size: small;
}

.value-metric {
  font-size: small;
}

.table {
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  padding: 1px;
}

.container-metrics-right {
  margin-left: -50px;
}

.sensor {
  width: 80px;
  height: 30px;
  background-color: #FF9F9F;
  text-align: center;
  border-style: solid;
  border-color: #CA2C2C;
}

.sensor-top {
  margin: 0 auto;
  margin-top: 10px;
}

.sensor-bottom {
  margin: 0 auto;
  margin-bottom: 10px;
}

.sensor span {
  font-weight: bold;
}

.vertical-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vertical {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin-y: top;
  -webkit-transform-origin-x: 30px;
}

.water-tank {
  height: 100px;
}